.hidden {
    visibility: hidden;
}

.datahub-map {
    width: 100%;
    height: 100%;
}

.datahub-chart .color-0 {
    stroke: red;
}

.datahub-chart .color-1 {
    stroke: orange;
}

.datahub-chart .color-2 {
    stroke: lime;
}

.datahub-legend {
    display: flex;
    margin-top: 20px;
}

.datahub-legend .element {
    display: flex;
    white-space: nowrap;
}

.datahub-legend .element div {
    height: 100%;
    display: flex;
}

.datahub-legend .color-band {
    min-width: 4px;
    max-width: 4px;
}

.datahub-legend .label,
.datahub-legend .unit {
    padding: 0 4px;
}

.datahub-legend .color-0 {
    background-color: red;
}

.datahub-legend .color-1 {
    background-color: orange;
}

.datahub-legend .color-2 {
    background-color: lime;
}

.datahub-button-group {
    display: flex;
    flex-direction: column;
}

.datahub-button-group .element {
    align-items: center;
    justify-content: center;
}

.datahub-button-group .element:hover {
    background-color: #eee;
}

.datahub-button-group .element.active {
    background-color: silver;
}

.big .datahub-number {
    text-align: center;
}

.datahub-number {
    width: 100%;
    font-size: 16px;
}

.datahub-number .value {
    font-size: 28px;
}

.big .datahub-number .value {
    font-size: 36px;
}

.small .datahub-number, .small .datahub-number .value  {
    font-size: 18px;
}

.datahub-table {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.datahub-table .header-row,
.datahub-table .row {
    display: flex;
}

.datahub-table .header-cell,
.datahub-table .cell {
    flex: 1;
}

.datahub-table .header-cell.sortable {
    cursor: pointer;
}

.datahub-table .header-cell.sortable:before {
    content: '▼';
}

.datahub-table .header-cell.sortable.ascending:before {
    content: '▲';
}
