.hidden {
    visibility: hidden;
}

.datahub-map {
    width: 100%;
    height: 100%;
}

.datahub-chart .color-0 {
    stroke: red;
}

.datahub-chart .color-1 {
    stroke: orange;
}

.datahub-chart .color-2 {
    stroke: lime;
}

.datahub-chart .axis.y .tick line{
    pointer-events: none;
}

.datahub-button-group {
    display: flex;
}

.vertical .datahub-button-group {
    flex-direction: column;
}

.datahub-button-group .element {
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.big .datahub-number {
    text-align: center;
}

.datahub-number {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datahub-number .value {
    display: flex;
    font-size: 28px;
    align-items: center;
}

.big .datahub-number .value {
    font-size: 36px;
}

.small .datahub-number,
.small .datahub-number .value {
    font-size: 18px;
}

.datahub-table {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.datahub-table .header-row,
.datahub-table .table-row {
    display: flex;
}

.datahub-table .header-cell,
.datahub-table .cell {
    flex: 1;
    padding: 4px 6px;
}

.datahub-table .header-cell.sortable {
    cursor: pointer;
}

.datahub-table .header-cell.sortable:before {
    content: '▼';
    font-size: 0.5em;
    padding-right: 6px;
}

.datahub-table .header-cell.sortable.ascending:before {
    content: '▲';
    font-size: 0.5em;
    padding-right: 6px;
}

.datahub-number-group {
    display: flex;
}

.datahub-number-group .element-container {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.datahub-alert-message {
    display: flex;
}

.datahub-alert-message .alert-band {
    max-width: 64px;
    min-width: 64px;
    min-height: 1em;
    background-image: url('https://cdn.jsdelivr.net/open-iconic/1.1.1/svg/warning.svg');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
}

.datahub-alert-message .low {
    background-color: #5ECF52;
}

.datahub-alert-message .medium {
    background-color: #F8E81C;
}

.datahub-alert-message .high {
    background-color: #FF5A6E;
}

.datahub-alert-message .alert-message {
    padding: 20px;
}

.datahub-month-calendar.element {
    padding: 0;
}

.datahub-month-calendar .date-selector {
    width: 100%;
    flex-wrap: wrap;
}

.datahub-month-calendar .month {
    width: 33.33%;
    float: left;
    padding: 20px 0;
    text-align: center;
}

.datahub-month-calendar .year-selector {
    display: flex;
    padding: 10px;
}

.datahub-month-calendar .prev-year,
.datahub-month-calendar .next-year {
    padding: 0 10px;
    cursor: pointer;
}

.datahub-month-calendar .selected-year {
    flex-grow: 1;
    text-align: center;
}

.datahub-dropdown .elements {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1000;
}

.datahub-dropdown .elements.active {
    display:block; /* graceful degradation for the IE */
    display: initial;
}

.datahub-dropdown .selected-element {
    width: 100%;
    padding: 10px 0;
}

.datahub-dropdown .selected-element:after {
    content: "\25BC";
    float: right;
}

.datahub-calendar .datahub-button-group {
    display: block;
}

.datahub-table-chart .rows {
    flex-direction: column;
}

.datahub-table-chart .row { 
    flex-direction: row;
    width: 100%;
    height: 48px;
    margin: 0;
}

.datahub-table-chart .column {
    flex: 1;
    align-items: center;
    padding: 0 0 0 18px;
}

.datahub-table-chart .chart-container .chart {
    position: absolute;
    width: 350px;
}

.datahub-table-chart .header .row {
    height: 72px;
}
.datahub-table-chart .header,
.datahub-table-chart .content {
    flex-direction: column;
}

.datahub-table-chart .chart-container{
    min-width: 350px;
    flex-direction: column;
}

.datahub-table-chart div {
    display: flex;
}

.datahub-table-chart .multiline {
    display: block;
}

.datahub-table-chart .content .multiline {
    display: flex;
}

.datahub-table-chart .content .multiline div {
    padding-right: 0.2em;
}

.datahub-table-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.datahub-vertical-chart {
    height: 250px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.datahub-vertical-chart .header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.datahub-vertical-chart .chart-container {
    display: flex;
    flex: 2;
    align-items: center;
}

.datahub-vertical-chart .chart-wrapper {
    height: 80px;
}

.datahub-vertical-chart .number-container {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.datahub-vertical-chart .number-container .number {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.datahub-vertical-chart .number-container .number div {
    display: flex;
    flex: 1;
    justify-content: center;
}

.datahub-vertical-chart .number-container .number .label {
    align-items: center;
}

.datahub-waterfall-chart .number-container {
    display: flex;
}

.datahub-waterfall-chart .number-container .number {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.datahub-waterfall-chart .number-container .label {
    display: flex;
}

.datahub-waterfall-chart .number-container .value {
    display: flex;
}