/*
very-dark-gray: #182228
dark-grey: #233541
stripe-gray: #1A2730
grey: #2E3F4B
light-grey: #5f6773
very-light-grey: #adb7c5
orange: #F6A623
yellow: #F8E81C
green: #5ECF52
sky-blue: #05BDFF
red: #FF5A6E
*/

body {
    background-color: #182228;
    color: #adb7c5;
    font-family: 'Roboto', sans-serif;
}

.datahub-chart text,
.datahub-table-chart text {
    fill: #adb7c5;
}

.datahub-chart .message-group text,
.datahub-table-chart .message-group text {
    fill: #F6A623;
}

.datahub-chart line {
    stroke: #adb7c5;
}

.datahub-chart .axis.x path,
.datahub-chart .axis.x line {
    stroke: white;
}

.datahub-chart .axis.y path {
    display: none;
}

.datahub-chart .axis.y line {
    opacity: 0.5;
}

.datahub-chart .stripe:not(.even) {
    opacity: 0;
}

.datahub-chart .stripe.even {
    fill: #1A2730;
}

.datahub-chart .active {
    stroke: #adb7c5;
    fill: none;
    opacity: 1;
}

.datahub-chart .reference-line {
    stroke: #F6A623;
    stroke-dasharray: 5,5;
}

.datahub-chart .bar {
    fill: #05BDFF;
    stroke: white;
}

.datahub-chart .stacked-bar {
    stroke: white;
}

.datahub-chart .stacked-bar.layer0,
.datahub-chart .stacked-area.layer0 {
    fill: #5ECF52;
}

.datahub-chart .stacked-bar.layer1,
.datahub-chart .stacked-area.layer1 {
    fill: #F8E81C;
}

.datahub-chart .stacked-bar.layer2,
.datahub-chart .stacked-area.layer2 {
    fill: #F6A623;
}

.datahub-chart .reference-bar {
    fill: black;
}

.datahub-chart .reference-top {
    stroke: #F6A623;
    stroke-width: 2px;
    opacity: 0.8;
}

.datahub-chart .estimate-bar {
    fill: #F6A623;
    opacity: 0.8;
}

.datahub-chart .line.layer0 {
    stroke: #5ECF52;
}

.datahub-chart .line.layer1 {
    stroke: #F8E81C;
}

.datahub-chart .line.layer2 {
    stroke: #F6A623;
}

.datahub-chart .area {
    fill: #5ECF52;
    opacity: 0.8;
}

.dummy .datahub-chart .bar {
    fill: #444;
    stroke: none;
    opacity: 0.5;
}

.dummy .datahub-chart .line,
.dummy .datahub-chart .reference-line {
    stroke: #444;
}

.dummy .datahub-chart .axis,
.dummy .datahub-chart .stripe {
    opacity: 0.3;
}

.dummy .datahub-chart .axis.x path,
.dummy .datahub-chart .axis.x .tick line {
    stroke: #888;
}

.dummy .datahub-chart .title-container,
.dummy .datahub-chart .axis text {
    display: none;
}

.datahub-table {
    color: white;
}

.datahub-table .header-row {
    background-color: #5f6773;
}

.datahub-table .table-row:nth-child(even) {
    background-color: #2E3F4B;
}

.datahub-number .value {
    color: white;
}

.datahub-button-group .element,
.datahub-dropdown .element {
    background-color: #5f6773;
}

.datahub-button-group .element:hover,
.datahub-dropdown .element:hover {
    background-color: #5f6773;
    color: black;
    cursor: pointer;
}

.datahub-button-group .element.active,
.datahub-month-calendar .element.active,
.datahub-dropdown .element.active {
    background-color: #adb7c5;
    color: black;
}

.legend .datahub-button-group .element {
    margin-right: 12px;
    background-color: transparent;
    color: #adb7c5;
}

.legend .datahub-button-group .element:hover {
    color: #adb7c5;
}

.legend .datahub-button-group .element.active:hover
.datahub-dropdown .element.active:hover {
    color: #5f6773;
}

.legend .datahub-button-group .element.active {
    color: #5f6773;
}

.legend .datahub-button-group .units {
    font-size: 0.6em;
}

.legend .datahub-button-group .element.color-1 {
    border-left: 16px solid #F8E81C;
}

.legend .datahub-button-group .element.color-2 {
    border-left: 16px solid #5ECF52;
}

.datahub-month-calendar .date-selector {
    background-color: #5f6773;
}

.datahub-month-calendar .month {
    background-color: #5f6773;
}

.datahub-month-calendar .year-selector {
    background-color: #5f6773;
    border-bottom: 1px solid black;
}

.datahub-month-calendar .year-shifter:hover {
    background-color: #5f6773;
}

.datahub-table-chart {
    border: 1px solid #666;
}

.datahub-table-chart .table-container {
    flex-direction: column;
    flex: 1;
    color: white;
}

.datahub-table-chart .table-container .content {
    border-bottom: 1px solid #adb7c5;
}

.datahub-table-chart .chart-container .content {
    border-bottom: 1px solid #adb7c5;
}

.datahub-table-chart .header {
    background-color: #5f6773;
}

.datahub-table-chart .content .row:nth-child(even) {
    background-color: #2E3F4B;
}

.datahub-table-chart svg .value-bar {
    fill: #05BDFF;
}

.datahub-table-chart svg .reference-bar {
    fill: black;
}

.datahub-table-chart svg .reference-line {
    fill: #F6A623;
}

.datahub-table-chart svg .axis text {
    fill: #adb7c5;
}

.datahub-table-chart svg .axis line,
.datahub-table-chart svg .axis path.domain {
    stroke: #adb7c5;
}

.datahub-table-chart svg .stripe {
    fill: black;
    opacity: 0.2;
}

.datahub-table-chart svg .grid {
    stroke: #adb7c5;
}

.datahub-vertical-chart svg .reference-bars rect {
    fill: black;
}

.datahub-vertical-chart svg .reference-bars line {
    stroke: #F6A623
}

.datahub-vertical-chart svg .bars {
    fill: #05BDFF;
}

.datahub-vertical-chart .number .label {
    font-size: 16px;
}

.datahub-vertical-chart .number .value {
    font-size: 28px;
    color: white;
}

.datahub-vertical-chart .number0 .label {
    color: #5ECF52;
}

.datahub-vertical-chart .bar0 {
    fill: #5ECF52;
}

.datahub-vertical-chart .number1 .label {
    color: #F8E81C;
}

.datahub-vertical-chart .bar1 {
    fill: #F8E81C;
}

.datahub-vertical-chart .number2 .label {
    color: #05BDFF;
}

.datahub-vertical-chart .bar2 {
    fill: #05BDFF;
}

.datahub-vertical-chart .axis .vertical {
    stroke: #5f6773
}

.datahub-vertical-chart .header {
    font-size: 21px;
    color: white;
}

/* non-component styling */
.section {
    background-color: #233541;
}

.top-bar.normal {
    border-top: 3px solid #575F6D;
}

.top-bar.low {
    border-top: 3px solid #5ECF52;
}

.top-bar.medium {
    border-top: 3px solid #F8E81C;
}

.top-bar.high {
    border-top: 3px solid #FF5A6E;
}

.dh-tag {
    background-color: #5ECF52;
    color: black;
    padding: 2px 4px;
    margin: 0 4px;
    display: inline;
    border-radius: 8px;
    font-size: 1rem;
    height: 1.5rem;
}

.dh-tag.negative {
    background-color: #FF5A6E;
}

.dh-negative {
    color: #FF5A6E;
}

.dh-negative-arrow, .dh-positive-arrow {
    display: inline;
}

.dh-positive-arrow:after {
    content: "\25B2";
    color: #FF5A6E;
}

.dh-negative-arrow:after {
    content: "\25BC";
    color: #5ECF52;
}

.dh-positive-cell {
    background-color: #5ECF52;
    display: block;
}

.dh-dim {
    color: #adb7c5;
}