/*
very-dark-gray: #182228
dark-grey: #233541
grey: #2E3F4B
light-grey: #5f6773
very-light-grey: #adb7c5
orange: #F6A623
yellow: #F8E81C
green: #5ECF52
sky-blue: #05BDFF
red: #FF5A6E
*/

body {
    background-color: #182228;
    color: #adb7c5;
    font-family: 'Roboto', sans-serif;
}

.datahub-chart text {
    fill: #adb7c5;
}

.datahub-chart line {
    stroke: #5f6773;
}

.datahub-chart .axis.x path,
.datahub-chart .axis.x line {
    stroke: white;
}

.datahub-chart .axis.y path {
    display: none;
}

.datahub-table {
    color: white;
}

.datahub-table .header-row {
    background-color: #5f6773;
}

.datahub-table .table-row:nth-child(even) {
    background-color: #2E3F4B;
}

.datahub-number .value {
    color: white;
}

.datahub-button-group .element {
    background-color: #5f6773;
}

.datahub-button-group .element:hover {
    background-color: #5f6773;
    color: black;
    cursor: pointer;
}

.datahub-button-group .element.active {
    background-color: #adb7c5;
    color: black;
}

.legend .datahub-button-group .element {
    margin-right: 12px;
    background-color: transparent;
    color: #adb7c5;
}

.legend .datahub-button-group .element:hover {
    color: #adb7c5;
}

.legend .datahub-button-group .element.active:hover {
    color: #5f6773;
}

.legend .datahub-button-group .element.active {
    color: #5f6773;
}

.legend .datahub-button-group .units {
    font-size: 0.6em;
}

.legend .datahub-button-group .element.color-1 {
    border-left: 16px solid #F8E81C;
}

.legend .datahub-button-group .element.color-2 {
    border-left: 16px solid #5ECF52;
}

.datahub-month-calendar .date-selector {
    background-color: #5f6773;
}

.datahub-month-calendar .month {
    background-color: #5f6773;
}

.datahub-month-calendar .year-selector {
    background-color: #5f6773;
    border-bottom: 1px solid black;
}

.datahub-month-calendar .year-shifter:hover {
    background-color: #5f6773;
}

/* non-component styling */
.section {
    background-color: #233541;
}

.top-bar.normal {
    border-top: 3px solid #575F6D;
}

.top-bar.low {
    border-top: 3px solid #5ECF52;
}

.top-bar.medium {
    border-top: 3px solid #F8E81C;
}

.top-bar.high {
    border-top: 3px solid #FF5A6E;
}

.dh-tag {
    background-color: #5ECF52;
    color: black;
    padding: 2px 4px;
    margin: 0 4px;
    display: inline;
    border-radius: 8px;
    font-size: 1rem;
    height: 1.5rem;
}

.dh-tag.negative {
    background-color: #FF5A6E;
}

.dh-negative {
    color: #FF5A6E;
}

.dh-negative-arrow, .dh-positive-arrow {
    display: inline;
}

.dh-positive-arrow:after {
    content: "\25B2";
    color: #FF5A6E;
}

.dh-negative-arrow:after {
    content: "\25BC";
    color: #5ECF52;
}

.dh-positive-cell {
    background-color: #5ECF52;
    display: block;
}

.dh-dim {
    color: #adb7c5;
}